
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular Demo</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a href="#">Home</a></li>
      <li><a routerLink="/student" routerLinkActive="active">Student Details</a></li>
      <li><a routerLink="/report" routerLinkActive="active">Report</a></li>
      <li><a href="#">Admin</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
