<div class="container-fluid">
  <div class="jumbotron">
    <p class="lead">
    Welcome To The Admin Section
    </p>
  </div> 
  <div  class="p-grid">
    <div class="p-col"> 
    <p-card header="Add" [style]="{width: '250px'}" styleClass="ui-card-shadow">
      <div>Add student details</div>
    </p-card>
    </div>
    <div class="p-col"> 
    <p-card header="Modify" [style]="{width: '250px'}" styleClass="ui-card-shadow">
      <div>Modify student details</div>
    </p-card>
    </div>
    <div class="p-col"> 
    <p-card header="Delete" [style]="{width: '250px'}" styleClass="ui-card-shadow">
      <div>Delete student details</div>
    </p-card>
    </div>
    <div class="p-col"> 
    <p-card header="Search" [style]="{width: '250px'}" styleClass="ui-card-shadow"> 
      <div>Search</div>
    </p-card>
    </div>
    <div class="p-col"> 
    <p-card header="Coming Soon" [style]="{width: '250px'}" styleClass="ui-card-shadow" >
      <div>Coming Soon</div>
    </p-card>
    </div>
  </div>
  </div>
  <p-table [columns]="cols" [value]="studentDetails" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>    
</p-table>


  