<div class="container-fluid">
  <div class="jumbotron">
    <p class="lead">
    Welcome To The Admin Section
    </p>
  </div> 
  
  
 <p-table [columns]="cols" [value]="studentDetails" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [rows]="15">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    
       
</p-table>
<p-dialog header="Student Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="student">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="name" [(ngModel)]="student.name" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="roll">Roll No</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="roll" [(ngModel)]="student.roll_id" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="contact">Contact</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="contact" [(ngModel)]="student.contact" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="address">Address</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="address" [(ngModel)]="student.address" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">          
            <button type="button" class="btn btn-secondary " (click)="save()" >Save</button>
            <button type="button" class="btn btn-warning " (click)="delete()" >Delete</button>
        </div>
    </p-footer>
    </p-dialog>
  
</div>
 


  