<div class="container-fluid">
  <div class="jumbotron">
    Welcome To The Admin Section
  </div> 
  <div  class="p-grid">
    <div class="p-col"> 
    <p-card header="Add" [style]="{width: '250px'}" styleClass="ui-card-shadow">
      <div>Add student details</div>
    </p-card>
    </div>
    <div class="p-col"> 
    <p-card header="Modify" [style]="{width: '250px'}" styleClass="ui-card-shadow">
      <div>Modify student details</div>
    </p-card>
    </div>
    <div class="p-col"> 
    <p-card header="Delete" [style]="{width: '250px'}" styleClass="ui-card-shadow">
      <div>Delete student details</div>
    </p-card>
    </div>
    <div class="p-col"> 
    <p-card header="Search" [style]="{width: '250px'}" styleClass="ui-card-shadow"> 
      <div>Search</div>
    </p-card>
    </div>
    <div class="p-col"> 
    <p-card header="Coming Soon" [style]="{width: '250px'}" styleClass="ui-card-shadow">
      <div>Coming Soon</div>
    </p-card>
    </div>
  </div>
  </div>
  