
<div class="container-fluid">
<div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="name" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="roll">Roll No</label>
    <input [(ngModel)]="roll_id" class="form-control" id="roll">
  </div>
  <div class="form-group">
    <label for="contact">Contact</label>
    <input [(ngModel)]="contact" class="form-control" id="contact">
  </div>
  <div class="form-group">
    <div class="row">
    <div class="col-sm-12">
    <label for="address">Address</label>
    </div>
    </div>
     <div class="row">
    <div class="col-sm-12">
    <button (click)="addressClick()" class="btn btn-info">Click to add</button>
    </div>
    <app-address [showDiv]="visibiltyFlag"></app-address>
    </div>
  </div>
  
  <button type="submit" data-toggle="modal" data-target="#myModal" (click)="SubmitformData()" class="btn btn-default">Submit</button>
  </div>
  <app-modal [Formobject]="formDetails"></app-modal>

