<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Summary</h4>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" >
        <div class="row">
          <div class="col-sm-12">
          <label>Name : </label><span>{{Formobject.name}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
          <label>Roll No : </label><span>{{Formobject.roll_id}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
          <label>Contact : </label><span>{{Formobject.contact}}</span>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>